

  <footer class="footer" id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 pre-footer">
                    <p class="text-center">
                        <button class="btn btn-primary btn-lg gd-main-color" data-toggle="modal" data-target="#goModal2">Be a DROWSE Partner</button>
                    </p>
                </div>
            </div>
            <div class="row main-footer">
                <div class="col-md-12 footer-top">
                    <p class="text-center">
                        <a href="index.html" class="btn  btn-lg btn-outline-success">Drowse Home</a>
                        <a href="#" class="btn  btn-lg btn-outline-success">About Drowse</a>
                        <a href="posts.html" class="btn  btn-lg btn-outline-success">Drowse Posts</a>
                    </p>
                </div>
                <div class="col-md-5 footer-left">
                    <p class="text-center">
                        <a href="#" class="btn btn-primary btn-block btn-lg gd-main-color" data-toggle="modal" data-target="#myModal">Download Drowse App</a>
                    </p>
                    <p class="text-center">
                        <a href="#" class="btn btn-primary btn-block btn-lg gd-main-color" data-toggle="modal" data-target="#goModal2">Be A drowse Partner</a>
                    </p>
                </div>
                <div class="col-md-3 footer-middle">
                    <p class="text-center">Available On</p>
                    <p class="text-center">
                        <a href="#"><img src="/static/img/android.png" alt="download at play Store" title="download at play Store"></a>
                        <a href="#"><img src="/static/img/apple.png" alt="download at apps Store" title="download at apps Store"></a>
                    </p>
                </div>
                <div class="col-md-4 footer-right">
                    <h3>Contact Us</h3>
                    <p>(Corporate Address)
                        <br> C-3233 Ground Floor Back,
                        <br> Green Field Colony, Sector-22,
                        <br> Faridabad, Harayana-122018</p>
                    <p>Email Id:<a href="mailto:info@godrowse.com"> info@godrowse.com</a></p>
                </div>
                <div class="col-md-12">
                    <p class="copywrite-text text-center"> Copywrite© 2017 GODROWSE.All Right Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/woco.accordion.min.js"></script>
    <script src="/static/js/custom.js"></script>