        <footer class="footer" id="footer">
            <div class="row main-footer">
                <div class="col-md-6 footer-left">
                    <p class="text-center"><a href="index.html" class="btn  btn-lg btn-outline-success">Drowse Home</a></p>
                    <p class="text-center"><a href="#" class="btn  btn-lg btn-outline-success">About Drowse</a></p>
                    <p class="text-center"><a href="posts.html" class="btn  btn-lg btn-outline-success">Drowse Posts</a></p>
                </div>
                <div class="col-md-6 footer-right">
                    <h3>Contact Us</h3>
                    <p>(Corporate Address)
                        <br> C-3233 Ground Floor Back,
                        <br> Green Field Colony, Sector-22,
                        <br> Faridabad, Harayana-122018</p>
                    <p>Email Id:<a href="mailto:info@godrowse.com">info@godrowse.com</a></p>
                </div>
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="reach-us">
              <ul class="s-icons">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>



                <div class="col-md-12">
                    <p class="copywrite-text text-center"> Copywrite© 2017 GO DROWSE.All Right Reserved.</p>
                </div>
            </div>


        </footer>