{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
  <!-- Main header banner for a primary marketing message -->
    <div class="jumbotron gd-header-bg gd-header-top">
        <div class="container text-center">
            <h1 class="main-header-heading"><span style="color:#ffffff">NO</span> MORE FIXED HAPPY HOURS !!</h1>
            <p>discover amazing offers on drinks near you 24 x 7
                <p>
                    <h2 class="header-tagline"><a href="#" data-toggle="modal" data-target="#myModal"><span class="gd-main-color padding-20">Download the Drowse App Now</span></a></h2>
        </div>
    </div>

    <div class="container">
        <div class="row gd-col-5-section">
            <div class="col-md-3 text-center">
                <div class="gd-single-image">
                    <img src="/static/img/near-by-search.png" title="Nearby Search" alt="Nearby Search" class="img-responsive" />
                </div>
                <div class="gd-text-block text-center">
                    <h3>Nearby Search</h3>
                    <p>Reduce unnecessary travelling. Access Best offers on drinks Near you.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="gd-single-image">
                    <img src="/static/img/happy-hours.png" title="Happy Hours" alt="Happy Hours" class="img-responsive" />
                </div>
                <div class="gd-text-block text-center">
                    <h3>Happy Hours</h3>
                    <p>Put an end to 12pm to 5pm Happy Hours.Get Happy Hour deals 24 x 7</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="gd-single-image">
                    <img src="/static/img/Coupons-green.png" title="Coupons" alt="Coupons" class="img-responsive" />
                </div>
                <div class="gd-text-block text-center">
                    <h3>Coupons</h3>
                    <p>Plan your Special Occasions and drink outings with our Amazing Coupons.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="gd-single-image">
                    <img src="/static/img/trendsetters.png" title="Trendsetters" alt="Trendsetters" class="img-responsive" />
                </div>
                <div class="gd-text-block text-center">
                    <h3>Trendsetters</h3>
                    <p>Get to know of the Coolest trending Locations in your City.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="gd-single-image">
                    <img src="/static/img/easy-ticketing.png" title="Easy Ticketing" alt="Easy Ticketing" class="img-responsive" />
                </div>
                <div class="gd-text-block text-center">
                    <h3>Easy Ticketing</h3>
                    <p>Book your memorable evening in just 4 clicks.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid gd-main-section-bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Simple <strong>4-Step Booking process</strong> for all Party Seekers</h1>
                </div>
                <div class="col-md-3">
                    <div class="gd-single-image">
                        <img src="/static/img/screen-1.png" title="Discover Active Offers on Drinks Near you" alt="Discover Active Offers on Drinks Near you" class="img-responsive" />
                    </div>
                    <div class="gd-text-block text-center">
                        <p><strong>1.</strong> Discover Active Offers on Drinks Near you</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gd-single-image">
                        <img src="/static/img/screen-2.png" title="Checkout Happy Hour offers and choose a suitable one for your evening" alt="Checkout Happy Hour offers and choose a suitable one for your evening" class="img-responsive" />
                    </div>
                    <div class="gd-text-block text-center">
                        <p><strong>2.</strong> Checkout Happy Hour offers and choose a suitable one for your evening</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gd-single-image">
                        <img src="/static/img/screen-3.png" title="Know more about your preferred Destination and Book a Ticket" alt="Know more about your preferred Destination and Book a Ticket" class="img-responsive" />
                    </div>
                    <div class="gd-text-block text-center">
                        <p><strong>3.</strong> Know more about your preferred Destination and Book a Ticket</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gd-single-image">
                        <img src="/static/img/screen-4.png" title="Reach your destination and Enjoy" alt="Reach your destination and Enjoy" class="img-responsive" />
                    </div>
                    <div class="gd-text-block text-center">
                        <p><strong>4.</strong> Reach your destination and Enjoy!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="containar">
        <div class="jumbotron gd-header-bg gd-join-section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-3 col-md-offset-9">
                        <div class="header-tagline">
                            <h3>Hi Sellers!!</h3>
                            <h2>Join The</h2>
                            <h1> Drowse <br />
    Family</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row gd-col-5-section">
            <div class="col-md-3 text-center">
                <div class="gd-single-image">
                    <img src="/static/img/near-by-search.png" title="Get Seen" alt="Get Seen" class="img-responsive" />
                </div>
                <div class="gd-text-block text-center">
                    <h3>Get Seen</h3>
                    <p>List yourself with the most popular "happy hours search engine" in the city</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="gd-single-image">
                    <img src="/static/img/happy-hours.png" title="Flexible Happy Hours" alt="Flexible Happy Hours" class="img-responsive" />
                </div>
                <div class="gd-text-block text-center">
                    <h3>Flexible Happy Hours</h3>
                    <p>Customise & upload instant Happy Hour deals 24 x 7 as per your need</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="gd-single-image">
                    <img src="/static/img/coupons-green.png" title="Long-term Coupons" alt="Long-term Coupons" class="img-responsive" />
                </div>
                <div class="gd-text-block text-center">
                    <h3>Long-term Coupons</h3>
                    <p>Plan your Business ahead. Sell Coupons for all occassions with Us!</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="gd-single-image">
                    <img src="/static/img/trendsetters.png" title="Trendsetters" alt="Trendsetters" class="img-responsive" />
                </div>
                <div class="gd-text-block text-center">
                    <h3>Trendsetters</h3>
                    <p>Get featured in the list of trending outlets for drinks with Us! </p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="gd-single-image">
                    <img src="/static/img/easy-ticketing.png" title="Track Sales" alt="Track Sales" class="img-responsive" />
                </div>
                <div class="gd-text-block text-center">
                    <h3>Track Sales</h3>
                    <p>Track yout Business growth using our well-designed Vendor Dashboard!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="timeline-section gd-main-section-bg-color">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Simple steps to feature and function on Drowse!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/static/img/subscribe.png" alt="Subscribe">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>step 1</h4>
                                    <h4 class="subheading">Subscribe</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-white"> Subscribe with us and Get Noticed by party seekers in the city </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/static/img/customize-and-complete.png" alt="Customize & Complete">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>step 2</h4>
                                    <h4 class="subheading">Customize & Complete</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-white">Customize and upload competitive happy hour offers & coupons anytime throughout the day and increase your sales</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/static/img/ticket-generation.png" alt="Ticket Generation">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>step 3</h4>
                                    <h4 class="subheading">Ticket Generation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-white">Treat your guests well and complete orders by entering the unique customer code generated in each ticket</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/static/img/payments.png" alt="Payments">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>step 4</h4>
                                    <h4 class="subheading">Payments</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-white">Get direct payments, great ratings and reviews from your guests. Stay on top of every list.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--start download the app modal -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row text-center sign-with">
                                <div class="col-md-12">
                                    <img src="/static/img/landing-popup.jpg" class="img-responsive">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-right:40px;">
                            <h2 class="text-center">Download the Drowse App Now! </h2>
                            <form role="form" class="form-horizontal">
                                <p class="text-center">Our trendy App will be your key to great party destinations.We will send you the download link right now!!</p>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name" required />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder=" Your Email" required />
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" id="mobile" placeholder="Your Mobile" required />
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="goModal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-center">BE A DROWSE PARTNER</h2>
                            <p class="text-center thankyou-text">Thanks for visiting us! "We would be needing a few details from your side, in order to write back to you"</p>
                            <p class="text-center"><a href="/add_vendor" class="btn btn-success btn-lg">Want to Fill Yourself?</a></p>
                            <p class="text-center"><span>OR</span></p>
                            <p class="text-center"><a href="#" class="btn btn-custom btn-lg">Want Our Help?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--start the our help modal -->

    <div class="modal fade" id="goModal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 outer-col" style="padding-right:40px;">
                            <h2 class="text-center">Want Our HELP? </h2>
                            <form role="form" class="form-horizontal">
                                <p class="text-center">Thanks for visiting us! "We would be needing a few details from your side, in order to write back to you"</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Outlet Name" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Outlet Email Address" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Contact Person Name" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Outlet Phone Number" required />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="address" placeholder=" Outlet Address" required />
                                        </div>
                                    </div>
                                    <div class="col-md-12 gd-checkbox-control">
                                        <div class="form-group">
                                            <p>Where all we can find you?</p>
                                            <span>
                        <input type="checkbox" class="" id="zomato" required />
                        <label for="zomato">Zomato</label>
                      </span>
                                            <span>
                        <input type="checkbox" class="" id="nearbuy" required />
                        <label for="nearbuy">Near Buy</label>
                      </span>
                                            <span>
                        <input type="checkbox" class="" id="swiggy" required />
                        <label for="swiggy">Swiggy</label>
                      </span>
                                            <span>
                        <input type="checkbox" class="" id="dineout" required />
                        <label for="dineout">Dineout</label>
                      </span>
                                            <span>
                        <input type="checkbox" class="" id="foodpanda" required /><label for="foodpanda">Food Panda</label>
                      </span>
                                            <p class="text-success"><strong>Note:</strong> This information is needed only to know the authenticity of your outlet.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
                                        </div>
                                    </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     

    </div>
{% include "footer.html" %}

{% endblock %}