{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
{% load staticfiles %}

<div class="pd-top"></div>
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
<div class="barcelos_hdng">Barcelos</div>

<div class="barcelos-text">
<div class="location-title">sector 29, gurgaon 
<span>“This place is meant for large parties and fresh draught beer!! ”</span>
</div>
<p class="text2">We would love to introduce us as the biggest partying chain of the city, with more than 7 pubs right here in Delhi NCR. We are widely known for the fresh beer we brew and serve...</p>

<!--
<p class="text2">We would love to introduce us as the biggest partying chain of the city, with more than 7 pubs right here in Delhi NCR. We are widely known for the fresh beer we brew and serve, the immense range of cocktails and the awesome little dance floor we have for the party animals !!</p>-->

<button type="button" class="btn edit-info btn-sm">edit info</button>
<div class="clearfix"></div>
<p class="text3">Ratings &amp; Reviews</p>
<div class="rating-box-outer">
<div class="rating-box">
<div class="rating-number">3.9</div>
<div class="rating-text">user <strong>ratings</strong></div>
</div>
<div class="rating-box">
<div class="rating-number">228</div>
<div class="rating-text">user <strong>reviews</strong></div>
</div>
<div class="rating-box">
<div class="rating-number">546</div>
<div class="rating-text">user <strong>cravings</strong></div>
</div>
</div>
</div>

</div>

<div class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
<div class="row">
<div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
<div class="dashboard_bnr"><img src="images/dashboard_bnr1.jpg" alt="" /></div>
</div>
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">

<div class="search-box">
<div class="search-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
<div class="search-bg-black"><img src="images/search-bg-black.png" alt="" /></div>
</div>

<div class="search-box">
<div class="search-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
<div class="search-bg-black"><img src="images/search-bg-black.png" alt="" /></div>
</div>

<div class="search-box">
<div class="search-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
<div class="search-bg-black"><img src="images/search-bg-black.png" alt="" /></div>
</div>

<div class="search-box">
<div class="search-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
<div class="search-bg-black"><img src="images/search-bg-black.png" alt="" /></div>
</div>


</div>
</div>
</div>

</div>
</div>


<div class="pd-top"></div>
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
<div class="vendor-dashboard">
<p class="vendor-hdng">Vendor <span>Dashboard</span></p>

<ul class="vendor-dashboard-list">
  <li><a href="profile-detail.html">Vendor Profile</a>
  <ul>
  <li><a href="profile-edit.html">Edit Profile</a></li>
  </ul>
  </li>
  
  <li><a href="index.html">Flexible Happy Hours</a>    <ul>
      <li><a href="index.html#happy-hour-deal">Upload a happy hour deal</a></li>
      <li><a href="index.html#happy-hour-notifications">happy hour notifications</a></li>
      <li><a href="index.html#happy-hour-performance">happy hour performance</a></li>
      </ul>
  </li>
  <li><a href="plan-your-coupons.html">Plan your Coupons</a>
  <ul>
   <li><a href="plan-your-coupons.html#promote-coupons">Promote coupons</a></li>
   <li><a href="plan-your-coupons.html#active-coupons-for-sale">Active coupons for sale</a></li>
   <li><a href="plan-your-coupons.html#coupons-notifications">Coupons notifications</a></li>
   <li><a href="plan-your-coupons.html#coupons-performance">Coupons performance</a></li>
   </ul>
  </li>
  <!--
  <li><a href="performance-analysis.html" class="active-vendor-list">Performance Analysis</a>
  <ul>
   <li><a href="performance-analysis.html#drowse-business-leads">Drowse business leads</a></li>
   <li><a href="performance-analysis.html#user-impressions">User impressions</a></li>
   <li><a href="performance-analysis.html#respond-to-user-reviews">Respond to user reviews</a></li>
   </ul>
  </li>
  
  
  <li><a href="#">Pricing, Payments and Invoice</a>
  <ul>
   <li><a href="#">Activate features</a></li>
   <li><a href="#">Payment &amp; pricing terms</a></li>
   <li><a href="#">All invoices</a></li>
   </ul>
  </li>
  -->
  
</ul>


</div>
</div>

<div class="col-sm-12 col-md-9 col-lg-9 col-xl-9">

<div class="row">
<div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
<div class="hdng1">Plan<span> your Coupons</span></div>
</div>
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
<div class="row">
<div class="col-sm-12 col-md-7 col-lg-7 col-xl-7">
<button type="button" class="btn btn-success">Drowse News</button></div>
<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
<button type="button" class="btn btn-success">F.A.Q.s</button></div>
</div>
</div>

</div>

<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
<div class="content-box">

<div class="panel-box">
<div class="hdng2" id="drowse-business-leads">drowse <span>business leads</span></div>
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</div>
</div>

<div class="row">
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
<div class="ticket-book-number">6K</div>
<div class="ticket-book-text">Tentative Loss of Revenue in September</div>
</div>
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
<div class="ticket-book-number">152</div>
<div class="ticket-book-text">Total Happy Hour Tickets redeemed in September</div>
</div>
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
<div class="ticket-book-number">6K</div>
<div class="ticket-book-text">Total Coupons redeemed in September</div>
</div>
</div>

<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
<div class="hdng-inr">13,250 <span>INR</span></div>
<div class="total-money">Total subscription paid to DROWSE in September</div>
</div>

<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
<div class="hdng-inr">1,28,400 <span>INR</span></div>
<div class="total-money"><strong>Total estimated Sales through DROWSE in September</strong></div>
</div>
</div>

<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
<div class="chartContainer-img"><img src="images/chart.jpg" alt="" /></div>
</div>
</div>













</div>


<div class="panel-box">
<div class="hdng2" id="user-impressions">user <span>impressions</span></div>
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
<div class="chartContainer-img"><img src="images/chart.jpg" alt="" /></div>
</div>
</div>

<div class="row">
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
<div class="ticket-book-number">350</div>
<div class="ticket-book-text">Total page views in September</div>
</div>
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
<div class="ticket-book-number">13H</div>
<div class="ticket-book-text">Total time spent on BARCELOS page in September</div>
</div>
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
<div class="ticket-book-number">3.7</div>
<div class="ticket-book-text">Average User Rating in September</div>
</div>
</div>

<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

<ul class="total-booking-list">
<li>
<div class="ticket-book-number">214</div>
<div class="ticket-book-text">Total Booking</div>
</li>
<li>
<div class="ticket-book-number">62</div>
<div class="ticket-book-text">Total Favourities</div>
</li>
<li>
<div class="ticket-book-number">36</div>
<div class="ticket-book-text">Total Ratings</div>
</li>
<li>
<div class="ticket-book-number">12</div>
<div class="ticket-book-text">Total Reviews</div>
</li>
<li>
<div class="ticket-book-number">95</div>
<div class="ticket-book-text">Total Shares</div>
</li>
</ul>


</div>




</div>


</div>


<div class="panel-box">
<div class="hdng2" id="respond-to-user-reviews">read and <span>respond to reviews</span></div>


<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
<div class="review-box">

<div class="row">
<div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
<div class="review-img"><img src="images/review1.jpg" alt="" /></div>
</div>

<div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 no-padding">
<div class="review-number">4/5</div>
<div class="review-name">Sourav Banerjea
<span>rated and reviewed on 10 august, 2016</span>
</div>
</div>
   
   </div>
 <div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
<p></p>
<p>We would love to introduce us as the biggest partying chain of the city, with more than 7 pubs right here in Delhi NCR. We are widely known for the fresh beer we brew and serve, the immense range of cocktails and the awesome little dance floor we have for the party animals!!</p>
</div>
</div>

<div class="row">
<div class="col-sm-12 col-md-10 col-lg-10 col-xl-6">
<a href="#" class="btn btn-secondary btn-sm bold-btn">read more</a>
</div>
<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="float-rigth-btn"><a href="#" class="btn btn-secondary btn-sm bold-btn">report fake</a></div>
<div class="float-rigth-btn"><a href="#" class="btn btn-secondary btn-sm bold-btn">reply user</a></div>
</div>

</div>


</div>
<div class="review-box">

<div class="row">
<div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
<div class="review-img"><img src="images/review1.jpg" alt="" /></div>
</div>

<div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 no-padding">
<div class="review-number">4/5</div>
<div class="review-name">Sourav Banerjea
<span>rated and reviewed on 10 august, 2016</span>
</div>
</div>
   
   </div>
 <div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
<p></p>
<p>We would love to introduce us as the biggest partying chain of the city, with more than 7 pubs right here in Delhi NCR. We are widely known for the fresh beer we brew and serve, the immense range of cocktails and the awesome little dance floor we have for the party animals!!</p>
</div>
</div>

<div class="row">
<div class="col-sm-12 col-md-10 col-lg-10 col-xl-6">
<a href="#" class="btn btn-secondary btn-sm bold-btn">read more</a>
</div>
<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
<div class="float-rigth-btn"><a href="#" class="btn btn-secondary btn-sm bold-btn">report fake</a></div>
<div class="float-rigth-btn"><a href="#" class="btn btn-secondary btn-sm bold-btn">reply user</a></div>
</div>

</div>


</div>

<div class="center-div"><a href="#" class="close-ticket-btn">Show All Reviews</a></div>
</div>
</div>


</div>


</div>
</div>
</div>

</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 bottom-hr">
<hr />
</div>
</div>
</div>

<div class="pd-top"></div>
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
<div class="reach-out-box">
<a href="#" class="reach-out-btn transition"><span>Reach Out To Us</span></a>
<div class="detailed-analysis">for more detailed <span>ANALYSIS</span></div>
</div>
</div>
</div></div>
   
{% include "footer2.html" %}
{% endblock %}