{% extends "company/dashboard/main.html" %}

{% block inner_content %}

        <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
          <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="hdng1">Plan<span> your Coupons</span></div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="row">
                <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7">
                  <button type="button" class="btn btn-success">Drowse News</button>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                  <button type="button" class="btn btn-success">F.A.Q.s</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            {% if form.errors %}
              <div class="alert alert-danger" role="alert">
                  <a href="#" class="alert-link">   {{ form.errors }}</a>
              </div>
            {% endif %}
              <div class="content-box">
                <div class="panel-box">
                  <div class="hdng2" id="promote-coupons">promote <span>coupons</span></div>
                  <form class="form-horizontal"  method="post" enctype="multipart/form-data">{% csrf_token %}
                  <div class="row">
                    <div class="col-sm-6 col-md-6">
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <div class="form-group">
                            
                            <select class="form-control" id="exampleSelect1">
                              <option>Choose an earlier coupon</option>
                              <option>Choose an earlier coupon</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                          <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="offer name">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-4">
                      <div class="form-group">
                        <label for="exampleSelect1"><strong>Discount</strong></label>
                        <select class="form-control" id="exampleSelect1">
                          <option>10%</option>
                          <option>20%</option>
                          <option>30%</option>
                          <option>40%</option>
                          <option>50%</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <div class="form-group">
                        <label for="exampleSelect1"><strong>Applicable on</strong></label>
                        <select class="form-control" id="exampleSelect1">
                          <option>All Alcohols</option>
                          <option>All Non Alcohols</option>
                          <option>Only Beers</option>
                          <option>Only IMFL</option>
                          <option>Only Cocktails</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <div class="form-group">
                        <label for="exampleSelect1"><strong>Valid for</strong></label>
                        <select class="form-control" id="exampleSelect1">
                          <option>1 person / coupon </option>
                          <option>2 person / coupon </option>
                          <option>3 person / coupon</option>
                          <option>4 person / coupon</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row valid-checkbox">
                    <div class="col-sm-12 col-md-12">
                      <div class="form-group days-checkbox">
                        <label for="exampleSelect1"><strong>Valid on which days</strong></label>
                        <br />
                        <ul class="days-list">
                          <li>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> Monday
                              </label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> Tuesday
                              </label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Wednesday
                              </label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Thursday
                              </label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Friday
                              </label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Saturday
                              </label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Sunday
                              </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <label for="exampleInputEmail1"><strong>Coupon running date</strong></label>
                      <div class="row">
                        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
                          <div class="form-group">
                            <div class='input-group date' id='datetimepicker6'>
                              <input type='text' class="form-control" placeholder="start date" id="dp1" />
                              <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
                          <div class="start-to2 text-center">to</div>
                        </div>
                        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
                          <div class="form-group">
                            <div class='input-group date' id='datetimepicker7'>
                              <input type='text' class="form-control" placeholder="end date" id="dp2"/>
                              <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <div class="repeat-box">
                        <div class="valid-checkbox">
                          <div class="form-group days-checkbox">
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> Monday
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> Tuesday
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Wednesday
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Thursday
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Friday
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Saturday
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Sunday
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <label for="exampleInputEmail1"><strong>Coupon pricing</strong></label>
                      <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="actual price INR">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <label for="exampleInputEmail1"><strong>&nbsp;</strong></label>
                      <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="offer price INR">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <p></p>
                      <div class="hdng3">select <span>terms and conditions</span></div>
                      <div class="tmc">
                        <div class="inner-wrapper inner-wrapper-image-section">
                          <div class="btn-group btn-group-vertical" data-toggle="buttons">
                            <div class="col-md-12">
                              <ul class="tmc-list2">
                                <li>
                                  <label class="btn " for="american"> <input type="checkbox" name="american" id="american"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> </label>
                                  <span class="tmc-span">The outlet is strict about timings and validity of offers. Please check your availability at the pub within the timings announced in the happy hour section, else the ticket would stand invalid, unless considered otherwise by the outlet.</span>
                                </li>
                                <li>
                                  <label class="btn " for="american"> <input type="checkbox" name="american" id="american"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> </label>
                                  <span class="tmc-span">Prior reservation recommended. This offer is only applicable through drowse tickets.</span>
                                </li>
                                <li>
                                  <label class="btn " for="american"> <input type="checkbox" name="american" id="american"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> </label>
                                  <span class="tmc-span">Once ticket is booked for a particular happy hour offer, it cannot be clubbed or exchanged with any other active / inactive offer.</span>
                                </li>
                                <li>
                                  <label class="btn " for="american"> <input type="checkbox" name="american" id="american"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> </label>
                                  <span class="tmc-span">The choice of hookah / drinks / food is based on availability and sole discretion of the pub management.</span>
                                </li>
                                <li>
                                  <label class="btn " for="american"> <input type="checkbox" name="american" id="american"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> </label>
                                  <span class="tmc-span">Sharing and packing of food not allowed. Not applicable only on platters and pitchers.</span>
                                </li>
                                <li>
                                  <label class="btn " for="american"> <input type="checkbox" name="american" id="american"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> </label>
                                  <span class="tmc-span">Offer not valid on all special days such as festivals, social events and public occasions, unless specified.</span>
                                </li>
                                <li>
                                  <label class="btn " for="american"> <input type="checkbox" name="american" id="american"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> </label>
                                  <span class="tmc-span">All local / national laws regarding legal drinking age stands valid for all drowse customers.</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <p></p>
                  <div class="hdng3" style="margin-bottom: 3%;">upload <span>special offer menus</span></div>
                  </div>
                    <div class="multiple-browse">

                      <div class="col-sm-12 col-md-6">
                          <div class="submit-browse"><input type="file" name="img" class="form-control" multiple=""></div>
                          <div class="submit-browse2"> <input type="submit" class="btn btn-success"></div>
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-sm-12 col-md-3">
                      <div class="form-check days-checkbox">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Remember this offer code 
                        </label>
                      </div>
                      <div class="form-group">
                        <div class="capcha"><img src="images/captcha.gif" alt=""/></div>
                        <label for="exampleInputPassword1">Enter the code above here</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7"></div>
                    <div class="col-sm-12 col-md-2 proceed-btn-mrgn">
                      <div class="btn-right">
                        <a href="#" class="btn proceed-btn active" role="button" aria-pressed="true">Proceed</a>
                      </div>
                    </div>
                  </div>
                </form>
                </div>
                <div class="panel-box">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <div class="hdng2" id="active-coupons-for-sale">active <span>coupons</span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-+ col-lg-9 col-xl-9">
                      <div class="active-coupons-box">
                        <div class="row">
                          <div class="col-sm-12 col-md-+ col-lg-9 col-xl-9">
                            <div class="acbr">
                              <div class="hdng5">Buffet Lunch with 1 Soft Beverage/Mocktail</div>
                              <div class="valid-for">Valid for: <strong>1 Person</strong>  Valid on: <strong>Mon, Tue, Wed, Thu, Fri</strong></div>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <div class="active-coupons-price">Rs 749.00</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                      <div class="coupons-sold-bottom">
                        <p class="coupons-sold">40 Coupons Sold</p>
                        <a href="#" class="btn btn-secondary btn-sm">Special offer menus</a>
                        <a href="#" class="btn btn-secondary btn-sm">Terms and Conditions</a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-+ col-lg-9 col-xl-9">
                      <div class="active-coupons-box">
                        <div class="row">
                          <div class="col-sm-12 col-md-+ col-lg-9 col-xl-9">
                            <div class="acbr">
                              <div class="hdng5">Buffet Dinner with 2 Beer / 2 IMFL / 2 Cocktails</div>
                              <div class="valid-for">Valid for: <strong>2 Person</strong>  Valid on: <strong>Mon, Tue, Wed, Thu, Fri</strong></div>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <div class="active-coupons-price">Rs 1,199.00</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                      <div class="coupons-sold-bottom">
                        <p class="coupons-sold">22 Coupons Sold</p>
                        <a href="#" class="btn btn-secondary btn-sm">Special offer menus</a>
                        <a href="#" class="btn btn-secondary btn-sm">Terms and Conditions</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-box">
                  <div class="hdng2" id="coupons-notifications">coupon <span>notifications</span></div>
                  <div class="row coupon-notifications-boxes">
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <div class="active-ticket-box">
                        <div class="hdng4"><span>active</span> coupon</div>
                        <div class="active-ticket-text">
                          <p><strong>Mr. Prakhar Trivedi</strong> has booked a coupon for <strong>2 persons</strong> on <strong>offer code 
                            BAR 30 - 30% OFF on Beer Pitchers.<br />
                            Valid Till 15th July 2017</strong>
                          </p>
                        </div>
                        <div class="active-coupon-bottom"></div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <div class="active-ticket-box">
                        <div class="hdng4"><span>active</span> coupon</div>
                        <div class="active-ticket-text">
                          <p><strong>Mr. Saurabh Shukla</strong> has booked a coupon for <strong>5 persons</strong> on <strong>offer code 
                            BAR 20 - 20% OFF on COCKTAILS and MOCKTAILS <br />Valid Till 15th May 2017</strong>
                          </p>
                        </div>
                        <div class="active-coupon-bottom"></div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <div class="active-ticket-box">
                        <div class="hdng4"><span>active</span> coupon</div>
                        <div class="active-ticket-text">
                          <p><strong>Ms. Meenakshi Dubey</strong> has booked a coupon for <strong>2 persons</strong> on <strong>offer code 
                            BAR 60 - 30% OFF on Beer Pitchers - Ladies Night Out (Only Wednesdays).<br />
                            Valid Till 20th June 2017</strong>
                          </p>
                        </div>
                        <div class="active-coupon-bottom"></div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <div class="active-ticket-box">
                        <div class="hdng4"><span>active</span> coupon</div>
                        <div class="active-ticket-text">
                          <p><strong>Mr. Prakhar Trivedi</strong> has booked a coupon for <strong>2 persons</strong> on <strong>offer code 
                            BAR 30 - 30% OFF on Beer Pitchers.<br />
                            Valid Till 15th July 2017</strong>
                          </p>
                        </div>
                        <div class="active-coupon-bottom"></div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <div class="active-ticket-box">
                        <div class="hdng4"><span>active</span> coupon</div>
                        <div class="active-ticket-text">
                          <p><strong>Mr. Saurabh Shukla</strong> has booked a coupon for <strong>5 persons</strong> on <strong>offer code 
                            BAR 20 - 20% OFF on COCKTAILS and MOCKTAILS <br />Valid Till 15th May 2017</strong>
                          </p>
                        </div>
                        <div class="active-coupon-bottom"></div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <div class="active-ticket-box">
                        <div class="hdng4"><span>active</span> coupon</div>
                        <div class="active-ticket-text">
                          <p><strong>Ms. Meenakshi Dubey</strong> has booked a coupon for <strong>2 persons</strong> on <strong>offer code 
                            BAR 60 - 30% OFF on Beer Pitchers - Ladies Night Out (Only Wednesdays).<br />
                            Valid Till 20th June 2017</strong>
                          </p>
                        </div>
                        <div class="active-coupon-bottom"></div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <div class="active-ticket-box">
                        <div class="hdng4"><span>active</span> coupon</div>
                        <div class="active-ticket-text">
                          <p><strong>Mr. Prakhar Trivedi</strong> has booked a coupon for <strong>2 persons</strong> on <strong>offer code 
                            BAR 30 - 30% OFF on Beer Pitchers.<br />
                            Valid Till 15th July 2017</strong>
                          </p>
                        </div>
                        <div class="active-coupon-bottom"></div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <div class="active-ticket-box">
                        <div class="hdng4"><span>active</span> coupon</div>
                        <div class="active-ticket-text">
                          <p><strong>Mr. Saurabh Shukla</strong> has booked a coupon for <strong>5 persons</strong> on <strong>offer code 
                            BAR 20 - 20% OFF on COCKTAILS and MOCKTAILS <br />Valid Till 15th May 2017</strong>
                          </p>
                        </div>
                        <div class="active-coupon-bottom"></div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <div class="active-ticket-box">
                        <div class="hdng4"><span>active</span> coupon</div>
                        <div class="active-ticket-text">
                          <p><strong>Ms. Meenakshi Dubey</strong> has booked a coupon for <strong>2 persons</strong> on <strong>offer code 
                            BAR 60 - 30% OFF on Beer Pitchers - Ladies Night Out (Only Wednesdays).<br />
                            Valid Till 20th June 2017</strong>
                          </p>
                        </div>
                        <div class="active-coupon-bottom"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <div class="close-ticket-box">
                        <div class="form-group">
                          <div class="close-ticket-inputs"><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="enter coupon code here"><span><a href="#" class="close-ticket-btn">Close Ticket</a></span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--
                  <div class="panel-box">
                  <div class="hdng2" id="coupons-performance">coupon <span>performance</span></div>
                  <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                  </div>
                  </div>
                  
                  <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="ticket-book-number">62</div>
                  <div class="ticket-book-text">Total Coupons Booked in September</div>
                  </div>
                  </div>
                  
                  
                  <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="hdng-inr">5,200 <span>INR</span></div>
                  <div class="total-money"><strong>Total Money Spent</strong> (Through coupon promotions) <strong>in September</strong></div>
                  </div>
                  
                  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="hdng-inr">52,570 <span>INR</span></div>
                  <div class="total-money"><strong>Total Sales</strong> (Through coupons) <strong>in September</strong></div>
                  </div>
                  </div>
                  
                  </div>
                  
                  
                  -->
              </div>
            </div>
          </div>
        </div>

{% endblock %}